* {
    box-sizing: border-box;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 .container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
 }


body {
    font-family: Raleway, sans-serif;
}

.circle1{
    width: 50px;
    height: 50px;
    border: 2px solid #D4D4D4;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
    color: transparent;

}

.circle2{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background: #D4D4D4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden;
    color: transparent;

}

.circle1.active {
    background: #38C3AD;
    border: #38C3AD;
}

.circle2.active {
    background: #fff;
}


/* header */

.main-header{
    height: 30px;
    background: black;
    position: relative;
    z-index: 1000;
}


.main-header .main-logo{
    float: left;
    line-height:  40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: Raleway, sans-serif;   
   
}

.main-header .main-logo a {
    float: left;
    display: block;
    color: #fff;
    text-decoration: none;
   
}


.main-header .main-logo span {
    color:  #38C3AD;
    font-weight: 100;
}


.main-header .main-nav {
  float: right;
 }
 

.main-header .main-nav li{
   display: inline-block;
   text-align: right;
   position: relative;
   padding: 0 20px;
   font-size: 16px;
   line-height: 40px;
   text-transform: uppercase;
   font-weight: bold;

}


.main-header .main-nav a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    line-height: 40px;
    
}


.main-nav-submenu {
    position: absolute;
    background:black;
    top:50px;
    left: 0;
    text-align: left;
    padding-left: 10px;
    opacity: 0;
    transition: 0.5s opacity;
    visibility: hidden;
    z-index: 1000;
   
}


.main-nav li:hover .main-nav-submenu {
    opacity: 1;
    visibility: visible;

} 
 

.main-nav-submenu:before {
   content:"";
   border: 10px solid transparent;
   width: 0;
   height: 0;
   border-bottom-color: black;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   top: -20px;
}


.main-nav-submenu:after {
    content:"";
    width: 100%;
    height: 30px;
    background: transparent;
    position: absolute;
    left: 0;
    top: -30px;
 }


.main-nav-submenu li {
    display: block;
    
}


.main-nav-submenu a {
    font-size: 13px;
    text-transform: none;
    line-height: 30px;
    font-weight: normal;

}

.main-nav a:hover{
    color: #24BAA0;
}

.main-nav li:hover {
    color: #24BAA0;
}

/* section-slider */

.section-slider {
    height:500px;
    background-image:linear-gradient(180deg, #fff 50%, #D0CFD7 100%);
    margin-top: 40px;
}

.section-slider .container{
    position: relative;
    height: 100%;
}

.section-slider .slider{
    height: 425px;
    width: 100%;
    position: relative;

}

 .section-slider .slider-prev,
 .section-slider .slider-next{
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 40px;
    background: none;
    border: 0;
    color: #24BAA0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section-slider .slider-next {
    left: auto;
    right: 0;
    
}

.section-slider .slider-prev:hover{
    color: black;
}
.section-slider .slider-next:hover{
    color: black;
}

.section-slider i{
    font-size: 60px;
}

.section-slider .slider-box{
    position: relative;
    height: 100%;
    margin: 0 100px;    
}

.section-slider .slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.section-slider .slide-picture{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-slider .slide-picture img{
    width: 378px;
    height: 378px;
}

.section-slider .slide-cnt{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.section-slider .slide-title{
    font-size: 43px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.section-slider .slide-title span{
    color:  #38C3AD;
    font-weight: 700;
    
}


.section-slider .slide-text {
    left:auto;
    right:0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}


.section-slider .btn-slide{
    display: inline-block;
    border-radius: 8px;
    background: #38C3AD;
    border: 1px solid #38C3AD;
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s opacity;
    font-size: 25px;    
}



.section-slider .btn-slide:hover{
    opacity: 0.8;
}


/* section pictures*/

.section-pictures{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background: #fff;

}

.section-pictures .col-1-3{
    width: 33.3333%;
    float: left;
    padding: 0 10px;
    position: relative;
}

.section-pictures .picture-img{
    width: 330px;
    height: 220px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
}

.picture-img img{
    transition: 0.5s all;
    position: relative;
}

.picture-img:hover img{
    transform: scale(1.1,1.1);
}

.section-pictures .picture-cnt{
    position: absolute;
    padding: 20px;
    left: 0;
    top: 120px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    height: 70px;
    width: 100%;
    transition: 0.5s all;
}

.picture-img.active .picture-cnt{
    top: 0;
    height: 225px;
    background: #fff;
    border: 1px solid #DDD;
    
}

.section-pictures .picture-title{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section-pictures .picture-title::after{
    content: '';
    width: 150px;
    height: 6px;
    background: #38C3AD;
    position: absolute;
    bottom: 0;
    left: 0;
   
}


/* section prices */

.section-prices{
    width: 100%;
    height: 777px;
    margin-top: 60px;
    background: rgb(241, 241, 241);
}

.section-prices .section-main-title{
    position: relative;
}

.section-prices .section-main-title{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 40px;
    position: relative;
}


.section-prices .section-main-title span::after{
    content: '';
    width: 320px;
    height: 8px;
    background: #38C3AD;
    position: absolute;
    top: 26px;
    left: 0;
    margin: 50px auto;
    
}


.section-prices .col-1-3{
    width: 33.3333%;
    float: left;
    padding: 0 10px;
   
}
.section-prices .box-price{
    background: #F9F9F9;
    border: 2px solid #D4D4D4;
    height: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
} 

.box-price .price-value{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px auto;
    color: #C2C2C2;
    position: relative;  
}

.box-price.active .price-value.active{
    border: none;
}
.box-price .title-box-price{
    font-size: 26px;
    color: #27C7AB;
    text-transform: uppercase;
    position: absolute;
    margin-top: 30px;
    text-align: center;
 

}
.box-price .price{
    color: #C2C2C2;
    font-size: 45px;
    font-weight:  600;
    padding-bottom: 10px;

}
.box-price .price-small{
    color: #C2C2C2;
    font-size: 16px;
    position: absolute;
    top: 17%;
    right: 20%;
    vertical-align: super;
}


.box-price .price-description{
    width: 100%;
}

.box-price .price-description li{
    
    background: #E3E3E3;
    font-size: 24px;
    text-align: center;
    color: #8F8F8F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;
    
}

.box-price .price-description.adv li:nth-child(2n+1){
    background: #E3E3E3;

}

.box-price .price-description.adv li:last-child,
.box-price .price-description.bas li:last-child{
    background:  #F1F1F1;
}

.box-price .price-description.adv li:nth-child(2),
.box-price .price-description.active li:nth-child(2){
    background: #F1F1F1;

}
.box-price .price-description.active li,
.box-price .price-description.active li:last-child{
    background: #fff;

}

.box-price .box-btn-price{
    
    font-size: 16px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-price .box-btn-price a{
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background: #38C3AD;
    border: 1px solid #38C3AD;
    padding: 8px 30px;
}

/* box-price active */


 .box-price.active{
    background: #38C3AD;
    border: 2px solid #38C3AD;
    color: #fff;
}

.box-price.active .box-btn-price a{
    color:#38C3AD;
    background: #fff;

}

.box-price.active .title-box-price{
    color: #fff;
}

/* section form */

.section-contact{
    height: 630px;
    color: #fff;
    position: relative;
    padding-top: 60px;
    margin-top: 60px;
     
}

.contact-form label{
    display: none;
}

.title-contact{
    position: relative;
    
}

.section-contact .title-contact span{
    font-size: 26px;
    color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 50px auto;
}

.section-contact .title-contact span::after{
    content: '';
    width: 320px;
    height: 8px;
    background: #38C3AD;
    position: absolute;
    top: 26px;
    left: 0;

}


.contact-form .col-1-2.left{
    width: 600px;
    float: left;
    position: relative;
}

.col-1-2-left label,input{
    display: inline-block;
}

.contact-form .col-1-2.right{
    width: 350px;
    float: right;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #C4F6F2   ;
    height: 70px;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 26px; 
}

.contact-form textarea {
    height: 220px;
    resize: none;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #38C3AD;
    box-shadow: inset 0 0 0 1px #38C3AD;
    outline: none;
}

.contact-form ::-webkit-input-placeholder {
    color: #D7D7D7;
}

.contact-form ::-moz-placeholder {
    color: #D7D7D7;
}

.contact-form :-ms-input-placeholder {
    color: #D7D7D7;
}

.contact-form :-moz-placeholder {
    color: #D7D7D7;
}

.section-contact .contact-img{
    display: block;
    background-image: url('warsztat/images/red_chair.png');
    height: 240px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.contact-form .checkbox{
    position: relative;
    margin-top: 10px;
    display: block;
    overflow: hidden;
}

.contact-form .checkbox input{
    position: absolute;
    left: -10000px;
}

.contact-form .checkbox input ~ .checkbox-icon {
    width: 55px;
    height: 55px;
    border: 1px solid #C4F6F2;
    display: inline-block;
}

.contact-form .checkbox-icon:before{
    width: 50px;
    height: 50px;
    background: url('warsztat/images/form_ok.jpg');
    background-position:  center center;
    background-repeat:  no-repeat;
    position: absolute;
    bottom: 0;
    top: 0;
    content: '';
    opacity: 0;
    visibility: visible;
    transform: scale(0.5, 0.5);
    transition: 0.5s all;
}

.contact-form .checkbox input:checked ~.checkbox-icon:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
}

.contact-form .checkbox .checkbox-text {
    display: inline-block;
    width: 80%;
    font-size: 18px;
    text-align: left;
    vertical-align: top;
    padding: 5px 0 0 5px;
    color: #D7D7D7;
}

.contact-form .button-contact{
    font-size: 30px;
    display: inline-block;
    padding: 20px 40px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    background: #38C3AD;
    border: 1px solid #38C3AD;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
}

.contact-form .button-contact:hover{
    opacity: 0.8;
}


/* footer */


.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
}
.footer .col-1-2{
    width: 50%;
    float: left;
}

.footer .copy{
    float: left;
    font-size: 16px;
    color: #C2C2C2;
}

.footer .social-icons{
    margin-left: 150px;
}
.footer .social-icons a{
    float: left;
    padding: 0 3px;

}

.footer .logo small{
    float: right;
    font-size: 20px;
    color: #9B9B9B;
    text-transform: uppercase;
    margin-left: 60px;
    font-weight: 700;
    line-height: 40px;
    vertical-align: top;
    
}

.footer .logo span{
  font-weight: normal;

}